* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



nav {
    height: 80px;
    width: 100%;
    border: 1px solid #c6c1c1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 5;
}

nav a {
    text-decoration: none;
    color: gray;
    margin-left: 30px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

nav #a {
    height: 100%;
    width: 80px;
    float: right;
    border-left: 1px solid #c6c1c1;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

nav #b {
    height: 100%;
    width: 30px;
    float: right;
    border-left: 1px solid #c6c1c1;
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
}

nav input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    color: gray;
    float: right;
}

nav input::placeholder {
    font-size: 15px;
}

nav input:focus {
    width: 300px;
    transition: 1s;
    border: none;
}

.d2 {
    height: 620px;
    width: 100%;
    background-image: url(https://preview.colorlib.com/theme/essence/img/bg-img/bg-1.jpg);
    background-size: cover;
}

.d3 {
    height: 400px;
    width: 500px;
    /* border: 1px solid black; */
    margin-left: 200px;
}

.d3 h4 {
    color: #78787d;
    font-family: 'Ubuntu', sans-serif;
}

.d3 h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    margin-top: 30px;
}

.d3 button {
    height: 50px;
    width: 200px;
    background-color: #0315ff;
    border: 0px;
    margin-top: 50px;
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    transition-duration: 1s;
}

.d3 button:hover {
    background-color: #ff084e;
}

.d4 {
    height: 300px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.d5 {
    height: 240px;
    width: 350px;
    /* border: 1px solid black; */
    margin-left: 30px;
}

#c {
    background-image: linear-gradient(rgba(251, 243, 243, 0.5), rgba(254, 254, 254, 0.5)), url(https://preview.colorlib.com/theme/essence/img/bg-img/bg-2.jpg);
    background-size: cover;
}

#d {
    background-image: linear-gradient(rgba(251, 243, 243, 0.5), rgba(254, 254, 254, 0.5)), url(https://preview.colorlib.com/theme/essence/img/bg-img/bg-3.jpg);
    background-size: cover;
}

#e {
    background-image: linear-gradient(rgba(251, 243, 243, 0.5), rgba(254, 254, 254, 0.5)), url(https://preview.colorlib.com/theme/essence/img/bg-img/bg-4.jpg);
    background-size: cover;
}

.d5 h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bolder;
    line-height: 240px;
    transition-duration: 1s;
}

.d5 h1:hover {
    color: #0315ff;
}

.d6 {
    height: 560px;
    width: 73%;
    border: 1px solid white;
    margin-left: 220px;
    background-image: url(https://preview.colorlib.com/theme/essence/img/bg-img/bg-5.jpg);
}

.d6 h3 {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 650px;
    color: #dc0345;
    font-size: 23px;
    margin-top: 150px;
}

.d6 h1 {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 650px;
    margin-top: 30px;
    font-size: 55px;
}

.d6 button {
    height: 50px;
    width: 150px;
    background-color: #0315ff;
    margin-left: 650px;
    margin-top: 50px;
    border: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition-duration: 1s;
}

.d6 button:hover {
    background-color: #ff084e;
}

.d7 {
    height: 650px;
    width: 100%;
    /* border: 1px solid black; */
}

.d7 h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.d8 {
    height: 600px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 50px;
}

.d9 {
    height: 450px;
    width: 280px;
    /* border: 1px solid black; */
    margin-left: 30px;
}

.d11 {
    height: 350px;
    width: 280px;
    /* border: 1px solid black; */
}

.d12 {
    height: 70px;
    width: 270px;
    /* border: 1px solid black; */
    position: absolute;
    top: 2150px;
    visibility: hidden;
    transition-duration: 0.1s;
}

.d11 button {
    height: 45px;
    width: 250px;
    margin-left: 15px;
    z-index: 1;
    background-color: #0315ff;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border: 0px;
    margin-top: 10px;
    transition-duration: 0.3s;
}

.d9 :hover .d12 {
    visibility: visible;
}

.d11 button:hover {
    background-color: #ff084e;
}


.d11 .img1 {
    height: 350px;
    width: 280px;
    opacity: 1;
}



.d11 .img2 {
    height: 350px;
    width: 280px;
    opacity: 0;
    position: relative;
    top: -355px;
    transition-duration: 1s;
}

.d11 .img2:hover {
    opacity: 1;
}



.d9 h5 {
    font-family: 'Ubuntu', sans-serif;
    color: #78787d;
    margin-top: 15px;
}

.d9 p {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    font-weight: bold;
}

.d9 .a5 {
    text-decoration: none;
    color: #78787d;
    font-family: 'Ubuntu', sans-serif;
}

.d10 {
    height: 200px;
    width: 100%;
    background-color: #f5f7f9;
}

.d10 img {
    margin-top: 90px;
    margin-left: 100px;
}

footer {
    height: 450px;
    width: 100%;
    background-color: #252525;
}

footer .u1 {
    margin-left: 200px;
    margin-left: 200px;
    float: left;
}

footer .u1 a {
    text-decoration: none;
    color: #9e9e9e;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 15px;
    transition-duration: 1s;
}

footer .u1 a:hover {
    color: white;
}

footer .u1 p {
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

footer .u1 input {
    height: 30px;
    width: 250px;
    margin-top: 30px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    float: left;
}

footer .u2 a {
    text-decoration: none;
    color: #9e9e9e;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 350px;
    font-size: 15px;
    transition-duration: 1s;
}

footer .u2 a:hover {
    color: white;
}


footer .u3 a {
    text-decoration: none;
    color: #9e9e9e;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 600px;
    font-size: 15px;
    position: relative;
    top: -90px;
    transition-duration: 1s;
}

footer .u3 a:hover {
    color: white;
}

.u4 {
    height: 100px;
    width: 500px;
    /* border: 1px solid white; */
    margin-left: 800px;
    margin-top: -50px;
}

.u4 i {
    color: white;
    margin-left: 20px;
}

footer p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #9e9e9e;
}